@model List<UserRoleViewModel>

@{ 
    var roleId = ViewBag.roleId;
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2 class="text-primary">
                Thêm hoặc xóa tài khoản ra khỏi Role này
            </h2>
        </div>
        <div class="card-body">
            @for(int i=0; i< Model.Count; i++)
            {
            <div class="form-check m-1">
                <input type="hidden" asp-for="@Model[i].UserId" />
                <input type="hidden" asp-for="@Model[i].UserName" />
                <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                <label class="form-check-label">
                    @Model[i].UserName
                </label>

            </div>
            }

        </div>
        <div class="card-footer">        
            <button type="submit" class="btn btn-warning" style="width:auto"><i class="bi bi-pencil-square"></i>Cập nhật</button>
            <a asp-action="EditRole" asp-route-id="@roleId" class="btn btn-info" style="width:auto"><i class="bi bi-x-octagon"></i> Hủy</a>

        </div>
    </div>
</form>