@model websitebanxemay.Models.Bill

@{
    ViewData["Title"] = "Chi tiết đặt hàng của bạn";
}

<div class="nav">
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> Trang chủ</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BillStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BillStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            Thông tin chi tiết
        </dt>
        <dd class="col-sm-10">
            <table class="table table-bordered">
                <tr class="bg-warning text-center text-dark">
                    <th>Tên hàng</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
                @foreach (var i in Model.BillDetails)
                {
                    <tr>
                        <td>
                            <img src="~/images/@(i.Product.Image)" width="70" class="img-thumbnail" />
                            @(i.Product.Name)
                        </td>
                        <td>@(i.Price)</td>
                        <td>@(i.Quantity)</td>
                        <td>@(i.Amount)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="OrderList" class="btn btn-info"><i class="bi bi-skip-backward"></i> Trở lại danh sách đơn hàng</a>
</div>

