@model IEnumerable<websitebanxemay.Models.Bill>

@{
    ViewData["Title"] = "Danh sách đơn hàng của bạn";
}
<span id="Message_create" class="d-none">@TempData["Message_create"]</span>
<span id="Message_edit" class="d-none">@TempData["Message_edit"]</span>
<span id="Message_delete" class="d-none">@TempData["Message_delete"]</span>
<span id="Message_error" class="d-none">@TempData["Message_error"]</span>

<div class="col-sm-12">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> Trang chủ</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
</div>

<form asp-controller="Bills" asp-action="DeleteMultiple_OrderList" method="post">
    <button type="submit" class="btn btn-danger"><i class="bi bi-x-octagon"></i> Hủy đơn</button>
    <hr />
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr class="bg-info">
                <th><input type="checkbox" id="checkAll" /></th>
                <th>STT</th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BillStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th> 
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                int i = 1;
                @foreach (var item in Model)
                {
            <tr>
                <td><input class="checkbox" type="checkbox" name="selectedIds" value="@item.BillId" /></td>
                <td>@i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td class="col-auto">
                    <a asp-action="Detail_OrderList" asp-route-id="@item.BillId" class="btn btn-info btn-sm"><i class="bi bi-sliders"></i></a>
                </td>
            </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</form>

<div class="product-count">
    <p>Tổng số bản ghi: @Model.Count()</p>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var message = $('#Message_delete').text();
            if (message !== '') {
                toastr.warning(message);
            }

        });
        $(document).ready(function () {
            var message = $('#Message_error').text();
            if (message !== '') {
                toastr.error(message);
            }

        });
        $(document).ready(function () {
            var message = $('#Message_edit').text();
            if (message !== '') {
                toastr.info(message);
            }

        });

        $(document).ready(function () {
            $('#checkAll').click(function () {
                $('.checkbox').prop('checked', $(this).prop('checked'));
            });
        });

    </script>

}
