@model IEnumerable<websitebanxemay.Models.Product>

@{
    ViewData["Title"] = "Danh mục sản phẩm";
    <style>
        
        h2.most {
            color: green;
        }
        .zoom {
            padding: 1px;
            background-color: white;
            transition: transform .2s; /* Animation */
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }

            .zoom:hover {
                transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }

        h5.title:hover {
            color: #288ad6;
        }

        .checkbox-container {
            display: inline-block;
        }

            .checkbox-container form {
                display: inline-block;
                margin-right: 20px;
            }

                .checkbox-container form:last-child {
                    margin-right: 0;
                }

        label.text:hover {
            color: blue;
        }       

        div.Range a {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid #4a90e2;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: white;
        }

            /* Thiết lập hiệu ứng hover khi rê chuột qua thẻ <a> */
            div.Range a:hover {
                background: white;
                color: #4a90e2;
            }

            /* Thiết lập hiệu ứng active khi click vào thẻ <a> */
            div.Range a:active {
                background: #999;
                color: #fff;
            }

        /* Thiết lập hiệu ứng visited cho các thẻ <a> đã được click trước đó */
        div Range a:visited {
            /* color: #666;*/
            color: black;
        }


        div.compare {
            color: #2f80ed;
            font-size: 16px;
            line-height: 16px;
            margin-left: 10px;
        }

        .card-title {
            height: 1.5em; /* giới hạn chiều cao */
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* số dòng cần hiển thị */
            -webkit-box-orient: vertical;
        }

        form.form-asc-desc {
            float: right;
        }
    </style>
}

<form asp-action="AdvertisementsByCategory" id="sort-form" method="get" class="form-asc-desc">
    <label for="sort">Sắp xếp theo: </label>
    <select id="sort" name="sort" onchange="document.getElementById('sort-form').submit();">
        <option value="0">---  Chọn kiểu sắp xếp  ---</option>
        <option value="price-desc">Giá cao đến thấp</option>
        <option value="price-asc">Giá thấp đến cao</option>
    </select>
</form>

<p class="name">(@ViewBag.AdvertisementCount) tin thuộc danh mục @Model.FirstOrDefault()?.Category?.name</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Where(n => n.status == true))
        {
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="text-center"><img class="zoom" style="max-height: 200px; overflow: hidden;" src="~/images/@Html.DisplayFor(modelItem => item.Image)" title="@Html.DisplayFor(modelItem => item.Name)" /></a>
                    <div class="card-body">
                        <a class="text-dark" style="text-decoration:none;" asp-action="Details" asp-route-id="@item.ProductId"><h5 class="card-title text-center title">@Html.DisplayFor(modelItem => item.Name)</h5></a>
                        <div class="product_info">
                            <div class="product_price text-center">@Html.DisplayFor(modelItem => item.Price)</div>
                        </div>
                        <div class="text-warning">@Html.DisplayFor(modelItem => item.adverageRating) <i class="bi bi-star-fill"></i></div>
                    </div>                   
                    <div class="text-center card-footer">
                        <a class="btn btn-outline-danger" asp-action="Details" asp-route-id="@item.ProductId"><i class="bi bi-sliders"></i>Chi tiết</a>
                        <a class="btn btn-warning" asp-action="AddToCart" asp-route-id="@item.ProductId"><i class="bi bi-cart-check"></i>Chọn mua</a>
                    </div>
                </div>


            </div>
        }
    </div>
</div>
@if (ViewBag.TotalPages > 1)
{
    <div class="d-flex w-100 justify-content-center">
        <Pagination page-count="@ViewBag.TotalPages" page-target="/home/@ViewBag.CategorySlug" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></Pagination>
    </div>
}

@section Scripts {
    <script>
        const myCheckbox = document.getElementById("myCheckbox");
        const myForm = document.getElementById("myForm");

        myCheckbox.addEventListener("change", function () {
            if (this.checked) {
                myForm.submit();
            }
        });

        const myCheckbox1 = document.getElementById("myCheckbox1");
        const myForm = document.getElementById("myForm");

        myCheckbox1.addEventListener("change", function () {
            if (this.checked) {
                myForm.submit();
            }
        });
       

    </script>
}

