@model List<websitebanxemay.Models.CartItem>


<h3>Giỏ hàng của bạn</h3>

@if (Model.Count > 0)
{
    int num = 1;        // số thứ tự
    int amount = 0;     // thành tiền
    int total = 0;      // tổng tiền
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
        @foreach (var cartitem in Model)
        {
            amount = cartitem.Quantity * cartitem.Product.Price;//Thành tiền
            total += amount;

            <tr class="align-middle">
                <td>@(num++)</td>
                <td>
                    <img src="~/images/@cartitem.Product.Image" class="img-thumbnail" width="30" />
                    @cartitem.Product.Name
                </td>
                <td>@(cartitem.Product.Price.ToString("n0"))</td>
                <td>
                    <form asp-action="UpdateCart" method="post">
                        <div class="row">
                            <div class="col">
                                <input name="id" type="hidden" asp-for="@cartitem.Product.ProductId" />
                                <input type="number" min="0" name="quantity" asp-for="@cartitem.Quantity" class="form-control" />
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-warning"><i class="bi bi-pencil-square"></i>Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </td>
                <td>@(amount.ToString("n0"))</td>

                <td>
                    <a asp-action="RemoveCart" asp-route-id="@cartitem.Product.ProductId" class="btn btn-danger"><i class="bi bi-trash"></i>Xóa</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-dark" style="width: 100%;"><i class="bi bi-plus-circle"></i> Thêm sản phẩm</a>
            </td>
            <td><a asp-action="DeleteAll" class="btn btn-danger"><i class="bi bi-x-square"></i> Xóa tất cả</a></td>
            <td colspan="3" class="text-end"><strong><i class="bi bi-currency-dollar"></i>Tổng tiền</strong></td>
            <td colspan="2"><strong class="text-danger">@(total.ToString("n0"))</strong></td>
        </tr>

    </table>
    <div class="text-end">
        @*<a asp-controller="Home" asp-action="Checkout" class="btn btn-primary"><i class="bi bi-credit-card-2-front"></i> Thanh toán</a>*@
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/checkout.html" class="btn btn-primary"><i class="bi bi-credit-card-2-front"></i> Đặt hàng</a>
        }
        else
        {
            <a href="/dangnhap.html?returnUrl=/checkout.html" class="btn btn-primary"><i class="bi bi-credit-card-2-front"></i> Thanh toán</a>

        }

    </div>
}
else
{
    <p class="alert alert-danger">Giỏ hàng trống</p>
}
