@model IEnumerable<websitebanxemay.Models.Product>

@{
    ViewData["Title"] = "Danh sách sản phẩm giá tăng dần";
    <style>
        h3.orderby {
            border-bottom: 2px solid green;
            width: 310px;
        }

        .text-center {
            text-align: center !important;
        }

        h2.color_sale {
            color: #aa7e32;
        }

        h2.new {
            color: blue;
        }

        h2.most {
            color: green;
        }


        .zoom {
            padding: 1px;
            background-color: white;
            transition: transform .2s; /* Animation */
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }

            .zoom:hover {
                transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }

        h5.title:hover {
            color: #288ad6;
        }

        .checkbox-container {
            display: inline-block;
        }

            .checkbox-container form {
                display: inline-block;
                margin-right: 20px;
            }

                .checkbox-container form:last-child {
                    margin-right: 0;
                }

        label.text:hover {
            color: blue;
        }

        button.compare-button {
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #2f80ed;
            background-color: #2f80ed;
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            float: right;
            border-radius: 10px;
        }

            button.compare-button:hover {
                background-color: #fff;
                color: #2f80ed;
            }

        button.delete:hover {
            background-color: red;
            color: #fff;
        }

        button.delete {
            display: inline-block;
            padding: 10px 20px;
            color: red;
            border: none;
            font-size: 18px;
            text-decoration: none;
            float: right;
            text-align: center;
            border-radius: 10px;
        }

        div.Range a {
            color: #333;
            font-size: 16px;
            font-weight: bold;
            text-decoration: none;
            border: 1px solid #4a90e2;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: white;
        }

            /* Thiết lập hiệu ứng hover khi rê chuột qua thẻ <a> */
            div.Range a:hover {
                background: white;
                color: #4a90e2;
            }

            /* Thiết lập hiệu ứng active khi click vào thẻ <a> */
            div.Range a:active {
                background: #999;
                color: #fff;
            }

        /* Thiết lập hiệu ứng visited cho các thẻ <a> đã được click trước đó */
        div Range a:visited {
            /* color: #666;*/
            color: black;
        }

        .call {
            position: fixed;
            bottom: 30px;
            right: 10px;
            z-index: 999999;
            border-radius: 10px 10px;
        }

        div.compare {
            color: #2f80ed;
            font-size: 16px;
            line-height: 16px;
            margin-left: 10px;
        }

        .card-title {
            height: 1.5em; /* giới hạn chiều cao */
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* số dòng cần hiển thị */
            -webkit-box-orient: vertical;
        }
    </style>
}
<div class="call">
    <button class="compare-button" id="compare-button">So sánh ngay</button>
    <br />
    <button class="delete" id="delete-all-ads-button" onclick="clearSelectedAds()">Xóa tất cả tin</button>
</div>

<div class="checkbox-container">
    <form asp-action="SortByPriceAscending" id="myForm">
        <label class="text">
            <input type="checkbox" value="true" id="myCheckbox" name="myCheckbox" />
            Giá tăng dần
        </label>
    </form>
    <form asp-action="SortByPriceDescending" id="myForm1">
        <label class="text">
            <input type="checkbox" value="true" id="myCheckbox1" name="myCheckbox1" />
            Giá giảm dần
        </label>
    </form>
</div>

<h3 class="orderby">Danh sách giá tăng dần</h3>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Where(n => n.status == true))
        {
            <div class="col-md-3">
                <div class="card mb-3 shadow-sm">
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="text-center"><img class="zoom" style="max-height: 200px; overflow: hidden;" src="~/images/@Html.DisplayFor(modelItem => item.Image)" title="@Html.DisplayFor(modelItem => item.Name)" /></a>
                    <div class="card-body">
                        <a class="text-dark" style="text-decoration:none;" asp-action="Details" asp-route-id="@item.ProductId"><h5 class="card-title text-center title">@Html.DisplayFor(modelItem => item.Name)</h5></a>
                        <div class="product_info">
                            <div class="product_price text-center">@Html.DisplayFor(modelItem => item.Price)</div>
                        </div>
                        <div class="text-warning">@Html.DisplayFor(modelItem => item.adverageRating) <i class="bi bi-star-fill"></i></div>
                    </div>
                    <div class="compare">
                        <input id="ad-@item.ProductId" type="checkbox" name="selectedAds" value="@item.ProductId" />
                        <label for="ad-@item.ProductId" class="added-to-compare">So sánh</label>
                    </div>
                    <div class="text-center card-footer">
                        <a class="btn btn-outline-danger" asp-action="Details" asp-route-id="@item.ProductId"><i class="bi bi-sliders"></i>Chi tiết</a>
                        <a class="btn btn-warning" asp-action="AddToCart" asp-route-id="@item.ProductId"><i class="bi bi-cart-check"></i>Chọn mua</a>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            var message = $('#Message_create').text();
            if (message !== '') {
                toastr.success(message);
            }

        });
        const myCheckbox = document.getElementById("myCheckbox");
        const myForm = document.getElementById("myForm");

        myCheckbox.addEventListener("change", function () {
            if (this.checked) {
                myForm.submit();
            }
        });

        const myCheckbox1 = document.getElementById("myCheckbox1");
        const myForm1 = document.getElementById("myForm1");

        myCheckbox1.addEventListener("change", function () {
            if (this.checked) {
                myForm1.submit();
            }
        });

        $(document).ready(function () {
            // Lắng nghe sự kiện submit form
            $('#filter-form').submit(function (e) {
                // Ngăn chặn hành động mặc định của form
                e.preventDefault();

                // Lấy giá trị của khoảng giá trị được chọn
                var minPrice = $('input[name="minPrice"]').val();
                var maxPrice = $('input[name="maxPrice"]').val();

                // Gửi AJAX request để lọc các mục theo khoảng giá trị
                $.ajax({
                    url: '/items/filter',
                    method: 'POST',
                    data: {
                        minPrice: minPrice,
                        maxPrice: maxPrice
                    },
                    success: function (response) {
                        // Cập nhật danh sách mục với kết quả trả về từ server
                        $('#item-list').html(response);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
        //So sánh tin quảng cáo bằng javascript
        var selectedAds = [];

        $('input[type=checkbox][name=selectedAds]').change(function () {
            if (this.checked) {
                selectedAds.push(parseInt(this.value));
            } else {
                selectedAds.splice(selectedAds.indexOf(parseInt(this.value)), 1);
            }
        });

        $('#compare-button').click(function () {
            if (selectedAds.length >= 4) {
                alert("Cho phép so sánh tối đa 3 quảng cáo!");
                return;
            }
            if (selectedAds.length > 0 && selectedAds.length >= 2) {
                window.location.href = '/Home/Compare?ids=' + selectedAds.join(',');
            } else {
                alert("Vui lòng chọn ít nhất 2 quảng cáo để so sánh!");
            }

        });
        //Thay đổi textcheckbox
        // Lấy tất cả các checkbox và label trong danh sách quảng cáo
        var checkboxes = document.querySelectorAll('input[name="selectedAds"]');
        var labels = document.querySelectorAll('label[for^="ad-"]');

        // Lắng nghe sự kiện "change" của các checkbox
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function (event) {
                // Lấy label tương ứng của checkbox
                var label = document.querySelector('label[for="' + event.target.id + '"]');

                // Nếu checkbox được chọn, đổi nội dung của label thành "Đã thêm so sánh"
                if (event.target.checked) {
                    label.textContent = 'Đã thêm so sánh';
                }
                // Ngược lại, đổi nội dung của label thành "So sánh"
                else {
                    label.textContent = 'So sánh';
                }
            });
        });
        //Xóa tất cả các checkbox
        $("#delete-all-ads-button").click(function () {
            var selectedAds = $("input[name='selectedAds']");
            if (selectedAds.filter(":checked").length > 0) {
                selectedAds.prop('checked', false);
                $('label.added-to-compare').text('So sánh');
                alert("Đã xóa các check thành công!");
            } else {
                alert("Vui lòng chọn ít nhất một quảng cáo để xóa!");
            }
        });
        function clearSelectedAds() {
            selectedAds.splice(0, selectedAds.length);
        }
    </script>
}





