@page "/dangnhap.html/"

@model LoginModel

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="row">
    <div class="col-md-7">
        <img src="~/images/account/dangnhap.jpg" height="430" />
    </div>
    <div class="col-md-5">
        <section>
            <form id="account" method="post">
                <h4>Đăng nhập bằng tài khoản</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.UserNameOrEmail"></label>
                    <input asp-for="Input.UserNameOrEmail" class="form-control" />
                    <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng ký tài khoản mới</a>
                    </p>

                </div>
            </form>
        </section>
        <hr />
        <section>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            Không có dịch vụ xác thực bên ngoài được cấu hình. Xem <a href="https://go.microsoft.com/fwlink/?LinkID=532715">bài viết này</a>
                            để biết chi tiết về cách thiết lập ứng dụng ASP.NET này để hỗ trợ đăng nhập thông qua các dịch vụ bên ngoài.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Đăng nhập bằng cách sử dụng @provider.DisplayName tài khoản">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
