@model IEnumerable<websitebanxemay.Models.Rely>

@{
    ViewData["Title"] = "Danh sách phản hồi";
    <style>
        .product-count {
            color: black;
            padding: 10px;
            font-weight: bold;
            text-align: left;
        }
    </style>
}

<div class="col-sm-12">
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i> Trang chủ</a></li>
        <li class="breadcrumb-item active">@ViewBag.Title</li>
    </ol>
</div>

<span id="Message_edit" class="d-none">@TempData["Message_edit"]</span>
<span id="Message_delete" class="d-none">@TempData["Message_delete"]</span>
<span id="Message_error" class="d-none">@TempData["Message_error"]</span>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<form asp-controller="Relies" asp-action="Index" method="get">
    <p>
        Nhập nội dung: <input type="text" name="SearchString" placeholder="Nội dung, email" value="@ViewData["CurrentFilter"]" style="width:300px" />
        <button class="btn btn-primary text-light" type="submit"><i class="bi bi-search"></i> Tìm kiếm</button> 
</form>

<form asp-controller="Relies" asp-action="DeleteMultiple" method="post">
    <button type="submit" class="btn btn-danger"><i class="bi bi-x-octagon"></i> Xóa tất cả</button>
    <hr />
    <table class="table table-bordered table-hover text-center">
        <thead>
            <tr class="bg-info">
                <th class="col-1"><input type="checkbox" id="checkAll" /></th>
                <th>STT</th>
                <th>
                    @Html.DisplayNameFor(model => model.email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.mainContent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.commentId)
                </th>             
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                int i = 1;
                @foreach (var item in Model)
                {
                    <tr>
                        <td><input class="checkbox" type="checkbox" name="selectedIds" value="@item.replyId" /></td>
                        <td>@i</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mainContent)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.commentId)
                        </td>                      
                        <td class="col-1">
                            <a asp-action="Delete" asp-route-id="@item.replyId" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</form>

<div class="product-count">
    <p>Tổng số bản ghi: @Model.Count()</p>
</div>


<div class="d-flex w-100 justify-content-end">
    <Pagination page-count="@ViewBag.TotalPages" page-target="/relies" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></Pagination>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var message = $('#Message_edit').text();
            if (message !== '') {
                toastr.info(message);
            }

        });
        $(document).ready(function () {
            var message = $('#Message_delete').text();
            if (message !== '') {
                toastr.warning(message);
            }

        });
        $(document).ready(function () {
            var message = $('#Message_error').text();
            if (message !== '') {
                toastr.error(message);
            }

        });

        $(document).ready(function () {
            $('#checkAll').click(function () {
                $('.checkbox').prop('checked', $(this).prop('checked'));
            });
        });

    </script>
}

